.header {
  padding: 26px 0 40px;
  background-image: url(../images/main__picture.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  @include screen ('desktop') {
    padding: 46px 0 86px;
  }

  &__wrapper {
    margin-bottom: 308px;
    display: flex;
    flex-direction: column;

    @include screen ('tablet') {
      margin-bottom: 130px;
    }

    @include screen ('desktop') {
      margin-bottom: 217px;
    }
  }

  @media (min-resolution: 192dpi) {
    background-image: url(../images/main__picture@2x.jpg);
  }

  @include screen ('tablet') {
    background-image: url(../images/main__picture_tablet.jpg);

    @media (min-resolution: 192dpi) {
      background-image: url(../images/main__picture_tablet@2x.jpg);
    }
  }

  @include screen ('desktop') {
    background-image: url(../images/main__picture_desktop.jpg);

    @media (min-resolution: 192dpi) {
      background-image: url(../images/main__picture_desktop@2x.jpg);
    }
  }

  &__title {
    @include font-source-sans(20px, 800, 1.2, 0.03em);
    color: $primary-dark-color;
    margin-bottom: 40px;

    @include screen ('tablet') {
      margin-bottom: 36px;

      @include font-source-sans(26px, 800, 1.2, 0.03em);
    }

    @include screen ('desktop') {
      margin-bottom: 48px;

      @include font-source-sans(48px, 800, 1.2, 0.03em);
    }

    &-span1 {
      display: block;
    }

    &-span2 {
      @include screen ('tablet') {
        display: block;
      }
    }
  }

  &__description {
    margin-bottom: 39px;

    @include screen ('desktop') {
      margin-bottom: 70px;
    }

    &-item {
      @include font-source-sans(15px, 500, 1.2, 0.05em);

      &:nth-child(1) {
        color: $primary-bright-color;
      }

      &:nth-child(2) {
        @include screen ('desktop') {
          display: inline-block;
        }

        color: $primary-dark-color;
      }

      &:nth-child(3) {
        @include screen ('desktop') {
          display: inline-block;
        }

        color: $accent-color;
      }
    }


  }

  &__additional {

    @include screen ('tablet') {
      display: flex;
      justify-content: space-between;
    }

    &-icon-wrapper {
      width: 34px;
      height: 34px;
      background-repeat: no-repeat;

      @include screen ('desktop') {
        width: 44px;
        height: 44px;
      }
    }

    &-icon-student {
      background-image: url(../images/header_icons/1Female_Student.svg);
    }

    &-icon-mobile {
      background-image: url(../images/header_icons/2Mobile_Learning.svg);
    }

    &-icon-umbrella {
      background-image: url(../images/header_icons/3insurance.svg);
    }

    &-item {
      display: flex;
      align-items: center;

      &-description {
        margin-left: 12px;
        @include font-source-sans(13px, 700, 1.2, 0.05em);

        @include screen ('desktop') {
          margin-left: -17px;
          @include font-source-sans(18px, 700, 1.4, 0.05em);
        }

        &-span1 {
          display: block;

          @include screen ('desktop') {
            display: inline;
          }
        }

        &-span2 {
          @include screen ('desktop') {
            display: block;
          }
        }
      }

      &:not(:last-child) {
        @include screen ('mobile') {
          margin-bottom: 25px;
        }
      }

      &-square {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 58px;
        height: 58px;
        border: solid 2px $accent-color;
        border-right: none;
        margin-left: 49px;
        position: relative;

        @include screen ('tablet') {
          margin-left: 0;
        }

        @include screen ('desktop') {
          width: 103px;
          height: 103px;

        }

        &::before {
          content: "";
          display: block;
          width: 2px;
          height: 11px;
          background-color: $accent-color;
          top: -2px;
          left: 54px;
          position: absolute;

          @include screen ('desktop') {
            height: 17px;
            top: -2px;
            left: 100px;
          }
        }

        &::after {
          content: "";
          display: block;
          width: 2px;
          height: 11px;
          background-color: $accent-color;
          top: 45px;
          left: 54px;
          position: absolute;

          @include screen ('desktop') {
            height: 17px;
            top: 84px;
            left: 100px;
          }
        }
      }

      @include screen ('tablet') {
        left: 0;
      }
    }
  }

  .navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;

    @include screen ('tablet') {
      margin-bottom: 88px;
    }

    &__menu {
      display: flex;
      align-items: center;

      &-list {


        @include screen ('mobile') {
          display: none;
        }

        @include screen ('tablet') {
          display: none;
        }

        @include screen ('desktop') {
          display: flex;
        }

        &-item {
          margin-right: 47px;
        }

        &-link {
          @include font-source-sans(12px, 700, 1.2, 0.1em);
          color: $primary-bright-color;
          text-transform: uppercase;

          transition: all 0.2s linear;

          &:hover {
            color: $accent-color;
          }
        }
      }
    }
  }

  .logotype {
    word-spacing: 14px;
    @include font-source-sans (15px, 800, 1.2, 0.03em);
    color: $primary-dark-color;
    position: relative;

    @include screen ('tablet') {
      word-spacing: 20px;
      @include font-source-sans (25px, 800, 1.2, 0.03em);
    }

    &__submenu {
      color: $text-accent-color;
    }

    &__icon {
      display: inline-block;
      position: absolute;
      top: -4px;
      left: 35px;
      width: 15px;
      height: 22px;
      background-image: url(../images/logotype__icon.svg);
      background-repeat: no-repeat;
      background-position: center;

      @include screen ('tablet') {
        top: -4px;
        left: 59px;
        width: 21px;
        height: 30px;
      }
    }

    &__description {
      text-transform: uppercase;
      @include font-source-sans (5.3px, 700, 1.2, 0.13em);

      @include screen ('tablet') {
        @include font-source-sans (8.75px, 700, 1.2, 0.13em);
      }


      &-span {
        color: $accent-color;
      }
    }
  }

  .burger {
    background-color: transparent;
    position: relative;

    &__item {
      display: block;
      width: 24px;
      height: 2px;
      background-color: $primary-dark-color;

      &:not(:last-child) {
        margin-bottom: 3px;
      }
    }

    .submenu {
      display: none;
      position: absolute;
      background-color: rgba(24, 25, 29, 0.9);
      width: 320px;
      height: 550px;
      top: -32px;
      left: -276px;
      padding-top: 116px;

      @include screen ('tablet') {
        width: 768px;
        height: 600px;
      }

      &-item {
        text-align: center;

        &:nth-child(-n + 4) {
          margin-bottom: 25px;
        }

        &:nth-child(5) {
          margin-bottom: 56px;
        }

        &-button {
          width: 250px;
          height: 48px;
          margin: 0 auto;
          border: 2px solid $accent-color;
          cursor: pointer;
          padding-top: 10px;

          transition: all 0.2s linear;

          &-link {
            color: $accent-color;

          }

          &:hover {
            border: 2px solid $text-accent-color;
          }

          @include screen ('tablet') {
            display: none;
          }

        }

        &-logotype {
          position: absolute;
          top: 26px;
          left: 20px;
        }

        &-link {
          color: $text-accent-color;
          transition: all 0.1s linear;

          &:hover {
            color: $accent-color;
          }
        }
      }
    }

    &:hover>.submenu {
      display: block;
    }

    @include screen ('desktop') {
      display: none;
    }
  }
}

.button {
  @include font-source-sans(11px, 700, 1.2, 0.13em);
  text-transform: uppercase;
  text-align: center;
  display: block;
  width: 250px;
  height: 48px;
  cursor: pointer;

  @include screen ('desktop') {
    width: 302px;
    height: 68px;
  }

  &__navigation {
    color: $accent-color;
    background-color: $text-accent-color;
    border: 2px solid $accent-color;
    margin-right: 45px;

    transition: all 0.2s linear;

    @include screen ('mobile') {
      display: none;
    }

    @include screen ('desktop') {

      &:focus,
      &:hover {
        background-color: $accent-color;
        color: $text-accent-color;
      }

      margin-right: 0;
    }
  }

  &__header {
    color: $text-accent-color;
    background-color: $accent-color;
    transition: all 0.2s linear;

    @include font-source-sans(12px, 700, 1.2, 0.1em);

    &:focus,
    &:hover {
      background-color: #fe5900;
    }
  }
}
