.header {
  padding: 26px 0 40px;
}


.logotype {
  word-spacing: 22px;
  @include font-source-sans (25px, 700, 1.2, 0.01em);
  color: $primary-dark-color;
  position: relative;

  &__icon {
    display: inline-block;
    position: absolute;
    top: -3px;
    left: 54px;
    width: 26px;
    height: 30px;
    background-image: url(../images/logotype__icon.svg);
    background-repeat: no-repeat;
    background-position: center;

  }

  &__description {
    margin-top: 8px;
    text-transform: uppercase;
    @include font-source-sans (8.75px, 700, 1.2, 0.11em);

    &-span {
      color: $accent-color;
    }
  }
}