.header {
  padding: 26px 0 40px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  @media (max-width: 1279px) {
    width: 100%;
    height: 100vh;
    padding-top: 120px;
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(24, 25, 29, 0.9);
    transition: 0.3s linear;
    z-index: 1;
    padding-top: 170px;
  }

  @include screen('desktop') {
    margin-left: auto;
    margin-right: 44px;
  }
}

.navigation__list {
  @media (max-width: 1279px) {
    max-width: 250px;
    margin: 0 auto;
    margin-bottom: 52px;
  }

  @include screen('tablet-to-desktop') {
    max-width: 340px;
  }

  @include screen('desktop') {
    display: flex;
  }
}

.navigation__item {
  @media (max-width: 1279px) {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  @include screen('desktop') {
    &:not(:last-child) {
      margin-right: 43px;
    }
  }
}

.navigation__link {
  @include font-source-sans(18px, 700, 1.2, 0.1em);
  color: $text-accent-color;
  transition: all 0.2s linear;

  &:hover {
    color: $accent-color;
  }

  @include screen('tablet') {
    @include font-source-sans(26px, 700, 1.2, 3px);
  }

  @include screen('desktop') {
    color: $primary-bright-color;
    @include font-source-sans(12px, 700, 1.2, 0.1em);
    text-transform: uppercase;
  }

  @include screen('desktop-xl') {
    @include font-source-sans($size: 14px);
  }
}

.header__btn-box {
  display: flex;
  align-items: center;
}

.navigation__button {
  color: $accent-color;
  border: 2px solid $accent-color;
  background-color: transparent;
  transition: .2s linear;

  &:hover, 
  &:focus {
    color: #d35526;
    border-color: #d35526;
    background-color: transparent;
  }

  @include screen('mobile') {
    display: none;
  }

  @include screen('tablet-to-desktop') {
    margin-right: 45px;
  }

  &_modal {
    display: none;

    @include screen('mobile') {
      display: block;
      margin: 0 auto;
    }
  }
}

.burger {
  display: flex;
  align-items: center;
  position: relative;
  width: 24px;
  height: 24px;
  background-color: transparent;
  cursor: pointer;

  @include screen('desktop') {
    display: none;
  }
}

.burger__line {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: $primary-dark-color;
  transition: 0.3s linear;

  &::before {
    @include pseudo;
    width: 100%;
    height: 2px;
    background-color: $primary-dark-color;
    top: 5px;
  }

  &::after {
    @include pseudo;
    width: 100%;
    height: 2px;
    background-color: $primary-dark-color;
    bottom: 5px;
  }
}

.open-close {
  .burger__line {
    transform: rotate(45deg);
    z-index: 2;
    background-color: $text-accent-color;
  }

  .burger__line::before {
    top: 0;
    transform: rotate(0);
    background-color: $text-accent-color;
  }

  .burger__line::after {
    bottom: 0;
    transform: rotate(90deg);
    background-color: $text-accent-color;
  }
}

.show {
  visibility: visible;
  opacity: 1;
}

.visible {
  z-index: 2;
  color: $text-accent-color;
}
