.our-program {
  padding-top: 24px;
  padding-bottom: 430px;
  text-align: center;
  background-color: #111517;
  background-image: url(../images/section-our-program/mob-bg.png);
  background-repeat: no-repeat;
  background-position: right 80%;
  @media (min-resolution: 192dpi) {
    background-image: url(../images/section-our-program/mob-bg@2x.png);
  }
  @include screen('tablet') {
    padding-top: 70px;
    text-align: left;
    background-position: right 70%;
    background-image: url(../images/section-our-program/tablet-bg.png);
    @media (min-resolution: 192dpi) {
      background-image: url(../images/section-our-program/tablet-bg@2x.png);
    }
  }
}

.section-title {
  line-height: 33px;
  color: $text-accent-color;
}

.semester-list {
  position: relative;
  padding-top: 24px;
  color: $text-accent-color;
  text-transform: uppercase;
  &::before {
    @include pseudo;
    background-color: #546264;
    width: 2px;
    height: 1214px;
    left: 12px;
    top: 36px;
    @include screen('tablet') {
      left: 92px;
      height: 706px;
    }
  }
  &__item {
  }
  &__title {
    @include font-source-sans(15px, 700, 29.17px);
    letter-spacing: 0.11em;
    text-align: left;
    position: relative;
  }
  &__title::before {
    @include pseudo;
    border-radius: 50%;
    background-color: rgb(255, 107, 8);
    position: absolute;
    left: -36px;
    top: 10px;
    width: 10px;
    height: 10px;
    z-index: 10;
    @include screen('tablet') {
      left: -56px;
    }
  }
  @include screen('mobile') {
    width: 180px;
    margin: 0 auto;
    padding-left: 44px;
  }
  @include screen('tablet') {
    @include center-flex(ver);
    flex-direction: column;
    align-items: flex-start;
    padding-left: 144px;
  }
}

.discipline-list {
  @include center-flex(hor);
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 20px;
  letter-spacing: normal;
  @include font-source-sans(13px, 500, 29.17px);
  color: $accent-color;
  text-transform: capitalize;
  &__item {
    width: 178px;
    text-align: left;
  }
  &__item:not(:last-child) {
    @include screen('tablet') {
      // margin-right: 60px;
    }
  }
  &__title {
    position: relative;
    padding-left: 38px;
  }
  &__title::before {
    @include pseudo;
    width: 25px;
    height: 2px;
    background-color: $accent-color;
    left: 0px;
    top: 14px;
  }
  @include screen('tablet') {
    flex-direction: row;
    justify-content: space-between;
  }
}

.themes-list {
  padding-top: 6px;
  padding-bottom: 6px;
  @include font-source-sans(11px, 400, 20px);
  color: $secondary-bright-color;
}

//HELPERS
.block-fix {
  display: block;
}
