.reviews-slider {
  padding-top: 48px;
  padding-bottom: 54px;
  @include screen(tablet) {
    padding-bottom: 74px;
  }
  @include screen('desktop') {
    padding-top: 90px;
    padding-bottom: 100px;
  }
  @include screen('desktop-xl') {
    padding-top: 128px;
    padding-bottom: 100px;
  }
}

.section-title_reviews-slider {
  text-align: center;
  line-height: 26.54px;
  padding-bottom: 20px;
  @include screen('tablet') {
    padding-bottom: 24px;
    line-height: 62.54px;
  }
  @include screen('desktop') {
    padding-bottom: 34px;
  }
  @include screen('desktop-xl') {
    padding-bottom: 44px;
  }
}

.slider-card {
  text-align: center;
  padding: 22px 28px 30px 28px;
  margin-bottom: 22px;
  box-shadow: 4px 6.928px 34.96px 11.04px #1d1d1b17;
  @include screen('tablet') {
    padding-top: 42px;
    @include center-flex(hor);
    padding-bottom: 46px;
  }
  @include screen('desktop') {
    max-width: 1064px;
    margin: 0px auto 38px auto;
  }
}

.slider-image-wrapper {
  @include screen('tablet') {
    padding-top: 26px;
    margin-right: 44px;
  }
  @include screen('desktop') {
    padding-top: 12px;
    margin-right: 34px;
  }
  &__img {
    margin: 0px auto 20px auto;
  }
  &__social {
    margin: 0px auto;
    @include screen('mobile') {
      margin-bottom: 18px;
    }
  }
}

.slider-text-wrapper {
  @include screen('tablet') {
    width: 470px;
    text-align: left;
  }
  @include screen('desktop') {
    width: 708px;
  }
  &__title {
    @include font-source-sans(13px, 800, 29.17px, 0.05em);
    color: $accent-color;
    @include screen('tablet') {
      font-size: 18px;
      padding-bottom: 18px;
    }
    @include screen('desktop') {
      font-size: 25px;
      padding-bottom: 18px;
    }
  }
  &__description {
    @include font-source-sans(11px, 500, 16.67px, 0.05em);
    color: $secondary-bright-color;
    padding-bottom: 20px;
    @include screen('tablet') {
      max-width: 438px;
      font-size: 12.5px;
    }
  }
  &__text {
    @include font-source-sans(11px, 500, 20px, 0.05em);
    color: $primary-dark-color;
    @include screen('desktop') {
      font-size: 16.67px;
      line-height: 29.17px;
    }
  }
  &__hidden-text {
    @include screen('mobile') {
      display: none;
    }
  }
  &__link {
    color: $accent-color;
    text-decoration: underline;
  }
}

.bottom-slider-wrapper {
  position: relative;
  @include center-flex(hor);
}

.bottom-slider-wrapper__img {
  display: none;
  border-radius: 50%;
  border: 2px solid transparent;
  cursor: pointer;
  @include screen('mobile') {
    &:not(:nth-of-type(3)) {
      margin-right: 10px;
    }
  }
  &:not(:last-of-type) {
    @include screen('tablet') {
      margin-right: 20px;
    }
    @include screen('desktop') {
      margin-right: 36px;
    }
  }
  &:nth-child(-n + 3) {
    @include screen('mobile') {
      display: block;
    }
  }
  @include screen('tablet') {
    display: block;
  }
  &:hover {
    border-color: $accent-color;
  }
}

.slider-button {
  top: 50%;
  position: absolute;
  background-color: transparent;
  height: 11px;
  width: 20px;
  border: none;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  @include screen('tablet') {
    top: -272%;
    width: 25px;
    height: 14px;
  }
  @include screen('desktop') {
    top: -370%;
  }
}

.slider-button_left {
  background-image: url(../images/reviews-slider/icons/left-arrow.svg);
  right: 100%;
  transform: translate(100%, -50%);
  @include screen('tablet') {
    transform: translate(36%, -50%);
  }
  @include screen('desktop') {
    right: 97%;
  }
  @include screen('desktop-xl') {
    right: 93%;
  }
}

.slider-button_right {
  left: 100%;
  background-image: url(../images/reviews-slider/icons/right-arrow.svg);
  transform: translate(-100%, -50%);
  @include screen('tablet') {
    transform: translate(-36%, -50%);
  }
  @include screen('desktop') {
    left: 97%;
  }
  @include screen('desktop-xl') {
    left: 93%;
  }
  // right: 0;
  // top: 50%;
}

//HELPERS

.display-none {
  @include screen('tablet') {
    display: none;
  }
}
