.reviews-slider {
  padding-top: 48px;
  padding-bottom: 54px;
}

.section-title {
  text-align: center;
  line-height: 26.54px;
  padding-bottom: 20px;
  @include screen('tablet') {
    padding-bottom: 26px;
    line-height: 62.54px;
  }
}
.slider-card {
  text-align: center;
  padding: 22px 28px 30px 28px;
  margin-bottom: 22px;
  box-shadow: 4px 6.928px 34.96px 11.04px #1d1d1b17;
  &__img-wrapper {
    @include screen('tablet') {
      padding-top: 26px;
      margin-right: 44px;
    }
  }
  &__img {
    margin: 0px auto 20px auto;
  }
  &__social {
    margin: 0px auto;
    @include screen('mobile') {
      margin-bottom: 18px;
    }
  }
  &__title {
    @include font-source-sans(13px, 800, 29.17px, 0.05em);
    color: $accent-color;
    @include screen('tablet') {
      font-size: 18px;
      padding-bottom: 18px;
    }
    @include screen('desktop') {
      font-size: 25px;
      padding-bottom: 20px;
    }
  }
  &__description {
    @include font-source-sans(11px, 500, 16.67px, 0.05em);
    color: $secondary-bright-color;
    padding-bottom: 18px;
    @include screen('tablet') {
      max-width: 438px;
      font-size: 12.5px;
    }
  }
  &__text-wrapper {
    @include screen('tablet') {
      width: 470px;
      text-align: left;
    }
    @include screen('desktop') {
      width: 708px;
    }
  }
  &__text {
    @include font-source-sans(11px, 500, 20px, 0.05em);
    color: $primary-dark-color;
    @include screen('desktop') {
      font-size: 16.67px;
      line-height: 29.17px;
    }
  }
  &__hidden-text {
    @include screen('mobile') {
      display: none;
    }
  }
  &__link {
    color: $accent-color;
    text-decoration: underline;
  }
  @include screen('tablet') {
    padding-top: 42px;
    @include center-flex(hor);
  }
  @include screen('desktop') {
    max-width: 1064px;
    margin: 0px auto 22px auto;
  }
}

.slider-wrapper {
  position: relative;
  @include center-flex(hor);
}

.slider-wrapper__img {
  display: none;
  border-radius: 50%;
  border: 2px solid transparent;
  &:not(:last-of-type) {
    margin-right: 10px;
  }
  &:hover {
    border-color: $accent-color;
  }
  &:nth-child(-n + 3) {
    @include screen('mobile') {
      display: block;
    }
  }
  @include screen('tablet') {
    display: block;
  }
}

.slider-buttons {
  position: absolute;
  // transform: translate(-50%, -38%);
}

.slider-button {
  top: 50%;
  position: absolute;
  background-color: transparent;
  height: 11px;
  width: 20px;
  border: none;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  @include screen('tablet') {
    top: -244%;
  }
}

.button-left {
  background-image: url(../images/reviews-slider/icons/left-arrow.svg);
  right: 100%;
  transform: translate(100%, -50%);
  @include screen('tablet') {
    transform: translate(20%, -50%);
  }
}

.button-right {
  left: 100%;
  background-image: url(../images/reviews-slider/icons/right-arrow.svg);
  transform: translate(-100%, -50%);
  @include screen('tablet') {
    transform: translate(-20%, -50%);
  }
  // right: 0;
  // top: 50%;
}

//HELPERS

.display-none {
  @include screen('tablet') {
    display: none;
  }
}
