.why-choose-us {
    width: 100%;
    position: absolute;
    display: none;
}

.why-choose-us__section-title {
    // color: $text-accent-color;
    margin-bottom: 26px;

    @include screen('mobile') {
        max-width: 144px;
    }

    @include screen('tablet') {
        text-align: center;
        margin-bottom: 26px;
    }

    @include screen('desktop') {
        margin-bottom: 40px;
    }
}