@mixin pseudo($display: block, $pos: absolute, $content: '') {
  content: $content;
  display: $display;
  position: $pos;
}

@mixin font-source-sans($size: false, $weight: false, $lh: false, $ls: false) {
  @if $size {
    font-size: $size;
  }
  @if $weight {
    font-weight: $weight;
  }
  @if $lh {
    line-height: $lh;
  }
  @if $ls {
    letter-spacing: $ls;
  }
}

@mixin screen($size) {
  $desktop-xl: '(min-width: 1680px)'; // Переменная со значением desktop-xl размера
  $desktop: '(min-width: 1280px)'; // Переменная со значением desktop размера
  $tablet: '(min-width: 768px)'; // Переменная со значением tablet размера
  $mobile: '(max-width: 767px)'; // Переменная со значением mobile размера
  $tablet-to-desktop: '(min-width: 768px) and (max-width: 1279px)';

  @if $size == desktop-xl {
    @media only screen and #{$desktop-xl} {
      @content;
    }
  } @else if $size == desktop {
    @media only screen and #{$desktop} {
      @content;
    }
  } @else if $size == tablet {
    @media only screen and #{$tablet} {
      @content;
    }
  } @else if $size == mobile {
    @media only screen and #{$mobile} {
      @content;
    }
  } @else if $size == tablet-to-desktop {
    @media only screen and #{$tablet-to-desktop} {
      @content;
    }
  }
}

@mixin center-flex($type: 'all') {
  display: flex;

  @if $type== 'all' {
    justify-content: center;
    align-items: center;
  } @else if $type== 'hor' {
    justify-content: center;
  } @else if $type== 'ver' {
    align-items: center;
  }
}
