$main-font: 'Montserrat', sans-serif;

$accent-color: #ff6b08;
$text-accent-color: #ffffff;
$primary-dark-color: #18191d;
$secondary-dark-color: #111517;
$primary-bright-color: #b9b9b9;
$secondary-bright-color: #858585;
$footer-text-color: #fdfefe;
